# netlify.toml

[build]
  functions = "netlify/functions"

[functions]
  included_files = ["data/templates.v1.json", "data/templates.v2.json"]

[[headers]]
  for = "/.netlify/functions/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Methods = "GET, POST, OPTIONS"
    Access-Control-Allow-Headers = "Content-Type"
