/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://raw.githubusercontent.com/jpwoodi/swimtimeclac/2b6290fea10bcf90c5230f878fb3116be7d4e29a/people-2588747.jpg');
    background-size: cover;
    background-position: center;
    color: #212529;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.calculator-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    padding: 40px;
    text-align: center;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin-bottom: 20px;
    color: #007BFF;
    font-size: 2em;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 600;
    color: #343A40;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ced4da;
    text-align: center;
    font-size: 1em;
}

button {
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #495057;
}

.hidden {
    display: none;
}

.error {
    color: red;
    font-size: 0.9em;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-weight: 600;
    transition: color 0.3s ease;
}

.back-link:hover {
    color: #0056b3;
}

.back-link i {
    margin-right: 8px;
}

/* Navbar styling */
.top-nav {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 10px;
    height: 40px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.top-nav .logo {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.top-nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding: 4px 8px;
}

.top-nav ul li a:hover {
    background-color: #f2f2f2;
    border-radius: 5px;
}

/* Hamburger menu */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin-top: 60px;
    }

    .top-nav ul {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .hamburger {
        display: block;
    }

    .top-nav img.logo {
        width: 25px;
    }
}

.hamburger.active + ul {
    display: flex;
}

@media (max-width: 576px) {
    .calculator-container {
        padding: 20px;
        min-height: auto;
    }

    h1 {
        font-size: 1.5em;
    }

    button {
        font-size: 0.9em;
    }

    input[type="number"] {
        font-size: 0.9em;
    }

    p {
        font-size: 1em;
    }
}
